{% extends 'base.html.twig' %}

{% block body %}

<form action="{{path('blank')}}" enctype="multipart/form-data" method="POST">
	<input name="file" type="file">
	<input type="submit">
</form>

	
{% endblock %}
